* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */

}

header {
    background: salmon;
    min-height: 15wh;
    text-align: center;

}

main {
    background: #c0ffee;
    min-height: 70wh;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

section {
    width: 30%;
    border: 1px dashed black;
    padding: 0 1%;
    padding-bottom: 1%;
    margin: 1%;
    display: flex;
    flex-direction: column;
}

section:hover, section:hover h2{
    box-shadow: inset 0 0 8px darkorange, 0 0 8px darkorange;

}

/* section, section h2 {
    transition: all-shadow 1.5s ease; */

section, h2{
    transition: box-shadow 1s ease;
}

section pre {
    background-image:linear-gradient(darkslategrey 0%, darkorange 100%);
    padding: 2%;
    border-radius: 5px;
    flex-grow: 1;
    display: flex;
    align-items: center;

}

section h2 {
    border:1px solid black;
    border-radius: 8px;
    position: relative;
    bottom: 16px;
    background: #c0ffee;

    
}
footer {
    background: cornflowerblue;
    min-height: 15wh;
    text-align: center;    

}
@media screen and (max-width:992px) {
    section {
        width:45%
    }
}

@media screen and (max-width:576px) {
    section {
        width: 97%;
    }
}
